.skillsUsed {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skillTag {
    background-color: #ccc;
    color: #0076ec;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin: 0.3rem;
    box-shadow: 3px 3px 0 0 rgb(66, 26, 144), 6px 6px 0 0 rgb(236, 118, 0);
}
