#navBar {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    color: var(--foreground-dark);
    background-color: var(--background-black);
    display: flex;
    align-items: center;
}

#navBar nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    width: 100%;
}

#topLevelNavMenu li {
    list-style-type: none;
    padding: 0 0.5rem;
    display: inline-block;
}

.navLink:link, .navLink:visited {
  color: white;
  text-decoration: none;  
}

.navLink:hover {
  color: #ec7600;
  border-bottom: 1px solid #7600ec;
}

#navBarBody menu {
  margin: 0;
  padding: 0;
}

#navBarBrand .navLink:link, #navbarBrand .navLink:visited {
  background-image: linear-gradient(var(--ua-azure) 50%, var(--ua-yellow) 50%);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-transform: uppercase;
}
