html {
  --background-light: #faf6fe;
  --background-dark: #2c2b2e;
  --background-black: #0c0b0e;
  --foreground-light: #2c2b2e;
  --foreground-dark: #faf6fe;
  --ua-azure: #0057b7;
  --ua-yellow: #ffd700;
  --orange: #ec7600;
  --purple: #421a90;
  --blue: #0076ec;
  --red: #ec0025;
  --grey: #7a767f;
  --green: #69901a;

  background-color: var(--background-light);
  color: var(--foreground-light);
}

@media (prefers-color-scheme: dark) {
  html {
      color: var(--foreground-dark);
      background-color: var(--background-dark);
  }
  
  a:link {
    color: var(--orange);
    text-decoration: none;
  }

  a:hover {
    color: var(--red);
    text-decoration: underline;
  }

  a:visited {
    color: var(--green);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  width: 100%;
  grid-template-columns: clamp(1rem, 12rem, 24rem) repeat(3, 1fr) clamp(1rem, 12rem, 24rem);
  grid-template-rows: 3rem auto 3rem;
    min-height: 100vh;
}

.container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  padding: 1rem;
  width: 100%;
}

.container img {
  max-width: 100%;
  height: auto;
}

.container .center iframe {
  margin: 1rem auto;
  max-width: 100%;
  display: block;
}