/*
    Route 38 2022 stylesheet.

    Copyright © 2021-2022 William Ellison <waellison@gmail.com>.

    This work is free. You can redistribute it and/or modify it under
    the terms of the Do What The Fuck You Want To Public License,
    Version 2, as published by Sam Hocevar. See the COPYING file for
    more details.
 */

/**********************************************************************\
 * Welcome to the Route 38 stylesheet for 2022.  This file is roughly *
 * divided into several sections, which you may search for with your  *
 * editor's search functionality.  Search for the word between square *
 * brackets to be taken to that section of the file.                  *
 *                                                                    *
 * - Imports                      [imports]                           *
 * - Global Declarations          [globals]                           *
 * - Declarations By Module       [module]                            *
 * - Typography                   [type]                              *
 * - General Layout               [layout]                            *
 * - Header Layout                [header]                            *
 * - Content Layout               [content]                           *
 * - Footer Layout                [footer]                            *
 * - Front Page Styles            [frontPage]                         *
 * - Portfolio Styles             [portfolio]                         *
 * - Hacks                        [hacks]                             *
\**********************************************************************/

/**********************************************************************\
 * [imports]                                                          *
\**********************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/**********************************************************************\
 * [globals]                                                          *
\**********************************************************************/
html {
  --background-light: #faf6fe;
  --background-dark: #2c2b2e;
  --background-black: #0c0b0e;
  --foreground-light: #2c2b2e;
  --foreground-dark: #faf6fe;
  --ua-azure: #0057b7;
  --ua-yellow: #ffd700;
  --orange: #ec7600;
  --purple: #421a90;
  --blue: #0076ec;
  --red: #ec0025;
  --grey: #7a767f;
  --green: #69901a;

  background-color: var(--background-light);
  color: var(--foreground-light);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

a:hover {
  color: var(--red);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
      color: var(--foreground-dark);
      background-color: var(--background-dark);
  }
  
  a:link {
    color: var(--orange);
  }

  a:visited {
    color: var(--green);
  }
}

/**********************************************************************\
 * [module]                                                           *
\**********************************************************************/

/* SkillBlock */
#skillbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin: 0 -1rem;
}

ul.skills-learned-box {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

ul.skills-learned-box li {
  display: inline-block;
  font-size: 9pt;
  background-color: #bbb;
  border-radius: 6px;
  height: 2rem;
  padding: 0 8px;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
  margin-bottom: 4px;
}
/* end SkillBlock */

/* SkillCategory */
.skillCategory {
  flex-basis: calc(33.3333% - 2rem);
  width: calc(33.3333% - 2rem);
  padding: 0 1rem;
}

@media (max-width: 800px) {
  .skillCategory {
      flex-basis: auto;
      width: 100%;
  }
}

.skillCategory h2 {
  margin: 0;
}

.skillCategory ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

.captionedIconContainer {
  height: 28px;
  margin-bottom: 7px;
}

.captionedIconContainer span {
  height: 28px;
  display: inline-flex;
  align-items: center;
}

.captionedIconContainer img {
  margin-right: 5px;
}
/* end SkillCategory */

/* Job/School */
.skillsUsed {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skillTag {
  background-color: #ccc;
  color: #0076ec;
  padding: 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  margin: 0.3rem;
  box-shadow: 3px 3px 0 0 rgb(66, 26, 144), 6px 6px 0 0 rgb(236, 118, 0);
}
/* end Job/School */

/**********************************************************************\
 * [type]                                                          *
\**********************************************************************/
:root {
  font-size: 18px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: discretionary-ligatures;
}

body {
  margin: 0;
}

.textsc {
  font-variant: small-caps;
}

p,
blockquote,
ul li,
ol li,
dd,
dt {
  line-height: 2rem;
  hyphens: auto;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6667em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3333em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

/**********************************************************************\
 * [layout]                                                           *
\**********************************************************************/
#root {
  display: grid;
  width: 100%;
  grid-template-columns: clamp(1rem, 10vw, 24rem) auto clamp(1rem, 10vw, 24rem);
  grid-template-rows: 3rem auto 3rem;
  grid-template-areas:
    "header header header"
    "  .    content   ."
    "footer footer footer";
  min-height: 100vh;
}

@media (max-width: 640px) {
    #root {
        grid-template-rows: 6rem auto 6rem;
    }
}

.container {
  grid-area: content;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.container img {
  max-width: 100%;
  height: auto;
}

.container .center iframe {
  margin: 1rem auto;
  max-width: 100%;
  display: block;
}

/**********************************************************************\
 * [header]                                                           *
\**********************************************************************/
#navBar {
    grid-area: header;
    width: 100%;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    color: var(--foreground-dark);
    background-color: var(--background-black);
    display: flex;
    align-items: center;
}

#navBar nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    width: 100%;
}

#topLevelNavMenu li {
    list-style-type: none;
    padding: 0 0.5rem;
    display: inline-block;
}

@media screen and (max-width: 640px) {
  #navBar nav {
    flex-direction: column;
    align-items: flex-start;
  }

  #topLevelNavMenu li {
      display: block;
      padding: 0.1rem 0;
  }
}
  
.navLink:link, .navLink:visited {
  color: white;
  text-decoration: none;  
}

.navLink:hover {
  color: #ec7600;
  border-bottom: 1px solid #7600ec;
}

#navBarBody menu {
  margin: 0;
  padding: 0;
}

#navBarBrand .navLink:link, #navbarBrand .navLink:visited {
  background-image: linear-gradient(var(--ua-azure) 50%, var(--ua-yellow) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-transform: uppercase;
}

/**********************************************************************\
 * [footer]                                                           *
\**********************************************************************/
#siteFooter {
  grid-area: footer;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  color: var(--foreground-dark);
  background-color: var(--background-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  #siteFooter {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
}

#siteFooter ul li {
  margin-right: 0;
}

#siteFooter .meta p {
  margin: 0;
}

.footer-nav li:not(:last-child)::after {
  content: " \2726 ";
}

.socialBtn {
  margin: 0 0.25rem;
  border-radius: 10%;
  padding: 0.25rem;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;  
  display: inline-block;
  text-align: center;
}

.socialBtn:first-child, .socialBtn:last-child {
  margin: 0;
}

.socialBtn:link, .socialBtn:active, .socialBtn:hover, .socialBtn:visited {
  color: var(--foreground-dark);
}

.githubLink {
  background-color: var(--background-dark);
}

.linkedinLink {
  background-color: #0a66c2;
}

.twitterLink {
  background-color: #1da1f2;
}

.instaLink {
  background-color: #c32aa3;
}

.emailLink {
  background-color: var(--orange);
}

.blogLink {
  background-color: var(--purple);
}

/**********************************************************************\
 * [frontPage]                                                        *
\**********************************************************************/
#frontPage h1 {
    margin: 0;
}

.ctaButton {
    color: var(--foreground-dark);
    background-color: var(--orange);
    padding: 1rem;
    border-radius: 0.3333rem;
    box-sizing: border-box;
}

.ctaButton:link, .ctaButton:visited, .ctabutton:hover {
    color: var(--foreground-dark);
}

/**********************************************************************\
 * [portfolio]                                                        *
\**********************************************************************/


/**********************************************************************\
 * [hacks]                                                            *
\**********************************************************************/
