.skillCategory {
    flex-basis: calc(50% - 2rem);
    width: calc(50% - 2rem);
    padding: 0 1rem;
}

@media (max-width: 800px) {
    .skillCategory {
        flex-basis: auto;
        width: 100%;
    }
}

.skillCategory h2 {
    margin: 0;
}

.skillCategory ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

.captionedIconContainer {
    height: 28px;
    margin-bottom: 7px;
}

.captionedIconContainer span {
    height: 28px;
    display: inline-flex;
    align-items: center;
}

.captionedIconContainer img {
    margin-right: 5px;
}
