#siteFooter {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 6;
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  color: var(--foreground-dark);
  background-color: var(--background-black);
  display: flex;
  align-items: center;
}

#siteFooter ul li {
  margin-right: 0;
}

.footer-nav li:not(:last-child)::after {
  content: " \2726 ";
}
